* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

.slider {
    position: relative;
    width: 100%;
    overflow: hidden;
    height: 100vh;
}

.slides {
    display: flex;
    transition: transform 0.5s ease-in-out;
    position: relative;
}

#slide {
    min-width: 100%;
    transition: opacity 0.5s ease-in-out;
    position: relative;
}

#slide img {
    width: 100%;
    display: block;
}

.nav {
    position: absolute;
    top: 50%;
    transform: translateY(-50%);
    background: rgba(0, 0, 0, 0.8);
    color: #fff;
    border: none;
    padding: 10px;
    cursor: pointer;
    font-size: 22px;
    z-index: 2;
}

.nav.prev {
    left: 10px;
    top: 50%;
}

.nav.next {
    right: 10px;
    top: 50%;
}

.pagination {
    position: absolute;
    bottom: 15px;
    left: 50%;
    transform: translateX(-50%);
    display: flex;
    gap: 10px;
    z-index: 2;
}

.pagination button {
    background-color: #641fa5f1;
    border: none;
    padding: 5px;
    border-radius: 50%;
    cursor: pointer;
}

.pagination button.active {
    background-color: #ffe7e7;
}

@media (max-width:992px) {
    .slider {
        height: 100%;
    }
}